[workspace]
default-members = [
    "ristretto_classfile",
    "ristretto_classloader",
    "ristretto_cli",
    "ristretto_vm",
]
members = [
    "examples/*",
    "ristretto_classfile",
    "ristretto_classloader",
    "ristretto_cli",
    "ristretto_vm",
]
resolver = "2"

[workspace.package]
authors = ["Brian Heineman <brian.heineman@gmail.com>"]
categories = ["development-tools"]
edition = "2024"
keywords = ["java", "jvm"]
license = "Apache-2.0 OR MIT"
repository = "https://github.com/theseus-rs/ristretto"
rust-version = "1.85.0"
version = "0.14.0"

[workspace.dependencies]
anyhow = "1.0.97"
async-recursion = "1.1.1"
bitflags = "2.9.0"
byteorder = "1.5.0"
byte-unit = "5.1.6"
clap = "4.5.34"
console = "0.15.11"
criterion = { version = "0.5.1", default-features = false }
dashmap = "6.1.0"
dirs = "6.0.0"
flate2 = "1.1.0"
getrandom = "0.3.2"
indoc = "2.0.6"
indexmap = "2.8.0"
os_info = "3.10.0"
reqwest = { version = "0.12.15", default-features = false }
serde = "1.0.219"
serde_plain = "1.0.2"
stacker = "0.1.20"
sysinfo = "0.34.1"
sys-locale = "0.3.2"
tar = "0.4.44"
tempfile = "3.19.1"
thiserror = "2.0.12"
tokio = { version = "1.44.1", default-features = false, features = ["macros", "rt", "sync"] }
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
walkdir = "2.5.0"
whoami = "1.5.2"
zip = { version = "2.5.0", default-features = false, features = ["deflate"] }

[workspace.metadata.release]
shared-version = true
dependent-version = "upgrade"
tag-name = "v{{version}}"

[profile.release]
codegen-units = 1
lto = true
opt-level = "z"
panic = "abort"

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"
