[workspace]
default-members = [
    "ristretto_classfile",
    "ristretto_classloader",
    "ristretto_cli",
    "ristretto_vm",
]
members = [
    "examples/*",
    "ristretto_classfile",
    "ristretto_classloader",
    "ristretto_cli",
    "ristretto_vm",
]
resolver = "2"

[workspace.package]
authors = ["Brian Heineman <brian.heineman@gmail.com>"]
categories = ["development-tools"]
edition = "2021"
keywords = ["java", "jvm"]
license = "Apache-2.0 OR MIT"
repository = "https://github.com/theseus-rs/ristretto"
rust-version = "1.84.0"
version = "0.12.2"

[workspace.dependencies]
anyhow = "1.0.95"
async-recursion = "1.1.1"
bitflags = "2.8.0"
byteorder = "1.5.0"
byte-unit = "5.1.6"
clap = "4.5.26"
convert_case = "0.7.1"
criterion = { version = "0.5.1", default-features = false }
dashmap = "6.1.0"
dirs = "6.0.0"
flate2 = "1.0.35"
getrandom = "0.2.15"
handlebars = "6.2.0"
home = "0.5.11"
indoc = "2.0.5"
indexmap = "2.7.1"
os_info = "3.9.2"
rand = "0.8.4"
reqwest = { version = "0.12.12", default-features = false }
serde = "1.0.217"
serde_plain = "1.0.2"
stacker = "0.1.17"
sysinfo = "0.33.1"
sys-locale = "0.3.1"
tar = "0.4.43"
tempfile = "3.15.0"
thiserror = "2.0.11"
tokio = { version = "1.43.0", default-features = false, features = ["macros", "rt", "sync"] }
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
walkdir = "2.5.0"
whoami = "1.5.2"
zip = { version = "2.2.2", default-features = false, features = ["deflate"] }

[workspace.metadata.release]
shared-version = true
dependent-version = "upgrade"
tag-name = "v{{version}}"

[profile.release]
codegen-units = 1
lto = true
opt-level = "z"
panic = "abort"

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"
